/* GENERAL RULES */
body { font-family: Verdana, Geneva, sans-serif; padding-bottom: 20px; }
.center { text-align: center; }
.btn { min-width: 100px; }
.margin-side { margin-left: 20px; margin-right: 20px; }
.margin-bottom { margin-bottom: 20px; }
th { text-align: center; }

/* Title */
.title {
	color: #878787;
 	text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin: 10px auto;
}
.title a:hover { text-decoration: none; }

/* Game Table */
.table_game {
	border: 1px solid #2e6da4;
	border-collapse: collapse;
	margin: 30px auto;
}
.table_game td { border: 1px solid #2e6da4; }
.table_game .element div {
    background-color: #337ab7;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 40px;
    color: #fff;
    width: 100px;
    padding: 20px 0;
}

/* MENU */
.menu button { max-width: 300px; margin: auto; }
.menu .select { background-color: #286090; border-color: #204d74; }

/* Timer Clock */
.timer { font-size: 30px; margin: 0 auto 30px auto; color: #878787; }

.credits { text-align: left; color: #878787; }
footer { font-family: 'Oleo Script Swash Caps', cursive; color: #878787; font-size: 16px; text-align: center; margin-top: 20px; }